<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchhut</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaisei+Tokumin:wght@400;500;700&family=Lobster+Two&family=Oswald:wght@300;500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/99a477596c.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="/image/Logo.png" alt="" width="200px">
                </div>
                <nav>
                    <ul>

                        <li><a href="/">Home</a></li>

                        <li><a href="/user/getAllproducts">Product</a></li>

                        <li><a href="">About</a></li>

                        <li><a href="">Contact</a></li>

                        <li><a href="/user/login">Acount</a></li>


                        <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>




                    </ul>

                </nav>
                <!-- <span class=" menu-icon"><i class="fa-solid fa-bars"></i></span> -->
            </div>
            

            <div class="container">
                <h1>About Watch Hut</h1>
                <div class="content">
                    <div class="about-text">
                        <p>Welcome to Watch Hut, your ultimate destination for premium watches. We are passionate about timepieces
                            and strive to provide our customers with the finest selection of watches from top brands around the
                            world.</p>
                        <p>At Watch Hut, we believe that a watch is more than just a time-telling device; it's a reflection of
                            your personality and style. Whether you're looking for a classic timepiece for formal occasions or a
                            trendy watch to complement your casual look, we have something for everyone.</p>
                        <p>Our mission is to offer our customers an exceptional shopping experience, from browsing our extensive
                            collection to receiving personalized assistance from our knowledgeable team. We value integrity,
                            quality, and customer satisfaction above all else.</p>
                        <p>Join us on our journey as we continue to expand our selection and provide the latest trends in the
                            world of watches. Thank you for choosing Watch Hut!</p>
                    </div>
                    <!-- <img src="" alt="About Watch Hut"> -->
                </div>
            </div>

        </div>
    </div>
    
    <!-- footer -->
    <footer>

        <div class="foot-container items">
            <ul class="footer-list">
                <li class="caption">Company</li>
                <li>About</li>
                <li>Careers</li>
                <li>Team</li>
                <li>Visit Our Showroom</li>

            </ul>
        </div>
        <div class="foot-container items">
            <ul class="footer-list">
                <li class="caption">Contact us</li>
                <li>Help & Support</li>
                <li>Partner With Us</li>
                <li>Ride With us</li>
                <li class="caption"> Legal</li>
                <li>Terms & Conditions</li>
                <li>Cookie Policy</li>
                <li>Privacy policy</li>
            </ul>
        </div>
        <div class="foot-container items">
            <div>
                <div> <img src="image/Logo.png" style="width: 150px;height: 150px;" alt=""></div>
                <div>
                    <p> All trademarks are properties of their respective owners. 2008-2023 © WATCHHUT Ltd. All rights
                        reserved</p>
                </div>
            </div>
        </div>

        <div class="foot-container items">


            <ul class="footer-list">
                <li class="caption">Social links</li>
                <li><i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-twitter"></i>
                </li>
            </ul>
        </div>


    </footer>


</body>

</html>